@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* COMMON */
.margin-top-30{
    margin: 30px 0;
}
.margin-top-100{
    margin-top: 100px;
}
/* container full */
.container{
    width: 100%;
}
.jcont-space{
    justify-content: space-between;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.gap-30{
    gap: 30px;
}
/* container mid ragne */
.container-mid{
    max-width: 1400px;
    margin: 0 auto;
}
/* container smaller*/
.container-low{
    max-width: 1200px;
    margin: 0 auto;
}
/* content */
.content{
    width: 100%;
}
.content img{
    width: 100%;
}
.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50%;
    height: calc(100vw / 6);
    background-color: #0061FF;
}

.position-under{
    position: relative;
    top: 90px;
}
/* column */
.col-20{
    width: 16%;
}
.col-33{
    width: calc(100% / 3);
}
.col-50{
    width: 50%;
}
.col-100{
    width: 100%;
}
.col-30-mid{
    width: calc(30% - 5px);
}
.col-70-mid{
    width: calc(70% - 5px);
}
.col-33-low{
    width: calc(100% / 3 - 50px);
}
.col-40-low{
    width: 40%;
}
.col-60-low{
    width: calc(60% - 30px);
}
/* button */
.btn{
    padding: 10px 10px;
    border: none;
    background-color: #0061FF;
    color: white;
    font-size: 16px;
}
.btn-white{
    color: black;
    background-color: white;
    border: 1px solid black;
}
/* HEADER */
header{
    background-color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.ul-top{
    display: flex;
    list-style: none;
}
.ul-top li{
    padding: 0 10px;
}
.ul-top li img{
    width: 100%;
}
span.btn{
    padding: 5px 10px;
}
/* MAIN */
.bg-lightblue{
    background-color: #B4D0E7;
    padding-top: 150px
}
.text-jumbo h1{
    font-size: 5em;
    font-weight: 700;
}
.text-jumbo p{
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;
}
.arrow{
    position: relative;
    top:50px;
    font-size: 80px;
}
.jumbo-img img{
    width: 100%;
}
.border{
    border: 1px solid rgb(207, 207, 207);
}

.content h1{
    padding: 50px 0;
    font-size: 40px;
}
.content .bill{
    margin-right: 30px;
}
/* three card of main */
.top-card{
    text-align: center;
    font-size: 14px;
    padding:10px;
}
.main-card{
    padding: 25px;
}
/* text of card */
.text-card{
    line-height: 2;
}
.text-card .price{
    font-weight: 600;
}
.text-card .billing-type{
    display: block;
    font-size: 14px;
    color: darkgray;
}
.text-card .btn{
    width: 100%;
    margin: 20px 0;
}
.text-card hr{
    margin: 20px 0;
    width: 20%;
}
.text-card p{
    margin-top: 30px;
    line-height: 1.2;
}
/* list of card's */
.list-card ul{
    padding-left: 20px;
}
.list-card ul li{
    margin: 15px 0;
}
.list-card h5{
    margin: 30px 0;
}
/* Sectiono with image */
.text-main {
    width: 70%;
}
.text-main p{
    margin: 20px 0;
}
/* FOOTER */
footer{
    background-color: black;
    padding: 100px 0;
}