@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* COMMON */
/* container full */
.container{
    width: 100%;
}
.jcont-space{
    justify-content: space-between;
}
.row{
    display: flex;
    width: 100%;
}
/* container mid ragne */
.container-mid{
    max-width: 1400px;
    margin: 0 auto;
}
.row-mid{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
/* container smaller*/
.container-low{
    max-width: 1200px;
    margin: 0 auto;
}
.row-low{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

.content{
    width: 100%;
    background-color: aquamarine;
}

/* column */
.col-30{
    width: 30%;
}
.col-100{
    width: 100%;
}
.col-40-mid{
    width: calc(40% - 5px);
}
.col-60-mid{
    width: calc(60% - 5px);
}
.col-33-low{
    width: calc(100% / 3 - 30px);
}
.col-40-low{
    width: 40%;
}
.col-60-low{
    width: calc(60% - 30px);
}
/* height */
.height-40{
    height: 40px;
}
.height-80{
    height: 80px;
}
.height-100{
    height: 100px;
}

.height-200{
    height: 200px;
}
.height-400{
    height: 400px;
}
.height-800{
    height: 800px;
}
/* HEADER */
header{
    background-color: lightgrey;
    padding: 15px 0;
}

/* MAIN */
.bg-lightblue{
    background-color: #B4D0E7;
    height: 700px;
}
